<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_Fashion.Properties.Settings.FashionConnectionString"
            connectionString="Data Source=DESKTOP-7REME9F\SQLEXPRESS;Initial Catalog=Fashion;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
        <add name="DAL_Fashion.Properties.Settings.QL_SHOPConnectionString"
            connectionString="Data Source=DESKTOP-7REME9F\SQLEXPRESS;Initial Catalog=QL_SHOP;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>